*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.nav-part2 h4 a abbr{
    text-decoration: none;
}

.nav-part2 button a abbr{
    text-decoration: none;
}

.left button a abbr{
    text-decoration: none;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}

.nav img{
   height: 90px;
   padding-right: 0px;
}

h2{
      display: flex;
      flex-wrap: wrap;  
}

h4 a{
    text-decoration: none;
    color: black;
}

h4 a:hover{
    color: #00adb5;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    height: 100px;
    width: 100%;
    position: relative;
   
}

.nav{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.nav button:hover{
    background-color: #0e545f;
}

.nav i{
    font-weight: 600;
    display: none;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}


/* appointment css */


.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0e545f;
}


h4 a{
    text-decoration: none;
    color: black;
}


.main{
    height: 100px;
    width: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.nav button:hover{
    background-color: #0e545f;
}

.nav i{
    font-weight: 600;
    display: none;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}
.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 5vw;
}
.left h1{
    font-size: 2.2vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #00adb5;
}
.left p{
    font-size: 1.3vw;
    font-weight: 600;
    color: black;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}

.content button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.content button:hover{
    background-color: #0e545f;
}



@media (max-width: 600px) {
    .nav{
        color: #dadada;
        padding: 0 5vw;
        height: 60px;
    }
    .nav button{
        display: none;
    }

    .nav h2 {
        font-size: 6vw;
    }

    .nav h4{
        font-size: 4vw;
        display: none;
    }

    .nav i{
        display: block;
        font-size: 6vw;
    }
}