*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.nav-part2 h4 a abbr{
    text-decoration: none;
}

.nav-part2 button a abbr{
    text-decoration: none;
}

.left button a abbr{
    text-decoration: none;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}

.nav img{
   height: 90px;
   padding-right: 0px;
}

h2{
      display: flex;
      flex-wrap: wrap;  
}

h4 a{
    text-decoration: none;
    color: black;
}

h4 a:hover{
    color: #00adb5;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    height: 100px;
    width: 100%;
    position: relative;
   
}

.nav{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.nav button:hover{
    background-color: #0e545f;
}

.nav i{
    font-weight: 600;
    display: none;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}


/* Beds Css */

.beds span{
    color: #00adb5;
}
.beds h1{
  text-align: center;
  font-size: xx-large;
}
.beds-section {
  padding: 50px;
  background-color: #f7f7f7;
  text-align: center;
}

.beds-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #000000;
}

.beds-container {
 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.beds-box {

  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.beds-box h1 {
  font-size: 20px;
  color: #00adb5;
  margin-bottom: 15px;
}

.beds-box p {
  font-size: 14px;
  color: #000000;
}

.beds-box:hover {
  transform: translateY(-5px);
}

.beds-box img{
  height: 60%;
  width:  50%;
}

.beds-container h1 a{
  text-decoration: none;
  color: #00adb5;
}

.beds-container h3{
    text-align: center;
}
.beds-container button{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background: #00adb5;
    color:white;
    cursor:pointer;
    transition:0.9s;
}

button:hover{
    background-color: #0e545f;
}

