*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

.nav img{
   height: 90px;
   padding-right: 0px;
}

.nav-part2 h4 a abbr{
    text-decoration: none;
}

.nav-part2 button a abbr{
    text-decoration: none;
}

.left button a abbr{
    text-decoration: none;
}

h2{
      display: flex;
      flex-wrap: wrap;  
}


h4 a{
    text-decoration: none;
    color: black;
}

h4 a:hover{
    color: #00adb5;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    height: 100px;
    width: 100%;
    position: relative;
   
}

.nav{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.nav button:hover{
    background-color: #0e545f;
}

.nav i{
    font-weight: 600;
    display: none;
}

.nav-part2{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav h2{
    font-size: 2vw;
    font-weight: 700;
}

.nav h4{
    font-size: 17px;
    text-transform: capitalize;
}



.content{
    /* height: calc(100% - 100px); */
    height: 80%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 5vw;
}
.left h1{
    font-size: 3.5vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #00adb5;
}
.left p{
    font-size: 1.3vw;
    font-weight: 600;
    color: black;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}

.content button{
    padding: 1.1vw 2.1vw;
    font-size: 1.2vw;
    background-color: #00adb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.content button:hover{
    background-color: #0e545f;
}



/* about css */


.lefta{
    height: 100%;
    width: 55%;
    padding: 5vw 5vw;
}
.lefta h1{
    font-size: 3.5vw;
    line-height: 4.4vw;
}
.lefta h1 span{
    color: #00adb5;
}
.righta{
    height: 100%;
    width: 45%;
}
.righta img{
    height: 100%;
    width: 45%;
}
.about{
    width: 100;
    height: 40;
    padding: 0vw 5vw;
}


/* banner one section */
.banner-one{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 173, 181,0.9)), to rgb(0, 173, 181,0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    background: -o-linear-gradient(rgb(0, 173, 181,0.9), rgb(0, 173, 181,0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    background: linear-gradient(rgb(0, 173, 181,0.9), rgb(0, 173, 181,0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner-one .lead{
    font-size: 2.8rem;
    font-weight: 500;
    max-width: 600px;
}
.banner-one .text-sm{
    font-weight: 500;
}

.section-head {
          text-align: center;
}

.container {
    text-align: center;
}



/* our services */
.osection span{
      color: #00adb5;
}
.osection h1{
    text-align: center;
    font-size: xx-large;
}
.services-section {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

.services-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #000000;
}

.services-container {
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service-box {

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.service-box h3 {
    font-size: 20px;
    color: #00adb5;
    margin-bottom: 15px;
}

.service-box p {
    font-size: 14px;
    color: #000000;
}

.service-box:hover {
    transform: translateY(-5px);
}

.service-box img{
    height: 60%;
    width:  50%;
}

.services-container h3 a{
    text-decoration: none;
    color: #00adb5;
}


@media (max-width: 992px) {
    .service-box {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .service-box {
        flex: 1 1 100%;
    }
}

/* End of services css */


/* footer */

.footer{
    width: 100%;
    height: 40%;
    background-color: #0e545f;
}

.footer-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-box h1 a{
    color: #00adb5;
}






@media (max-width: 600px) {
    .nav{
        color: #dadada;
        padding: 0 5vw;
        height: 60px;
    }
    .nav button{
        display: none;
    }

    .nav h2 {
        font-size: 6vw;
    }

    .nav h4{
        font-size: 4vw;
        display: none;
    }

    .nav i{
        display: block;
        font-size: 6vw;
    }
    .right img{
        height: 30%;
        width: 50%;
    }
}





